/*UNIVERSAL INFORMATION*/
/*COLORS:
  dark blue: #242226;
  grey: #D6D5DA;
  Hunter green: #72745B rgb(114,116,91);
  tan: #A38679 rgb(163,134,121);
  brown: #5A4C46 rgb(90,76,70);

*/

body {
  max-height: 100vh;
  max-width: 100vw;
}

.box {
  border-radius: 2px;
}

#body {

}
/*-----------LEFT COLUMN----------*/
.left_clmn {
  background-color: #d6d5da;
  height: 100vh;
  padding-left: 0;
  margin-left: 0;
}

.contact_bar {
  height: 8vh;
  text-align: left;
  color: #242226;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.contact_bar p {
  margin-bottom: 0px;
}
.box_1{
  height: 15vh;
  background-color: #242226;
}

.box_2 {
  height: 18vh;
  background-image: url("../img/giulia-bertelli-116358.jpg");
}

#mywork {
  background-color: rgba(114, 116, 91, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: none;
}

#mywork_btn {
  position: relative;
  top: 60%;
  left: 25%;
}

.box_2:hover #mywork {
  display: block;
}

.btn.btn-default#mywork_btn{
  background-color: #72745B;
  font-family: 'Rock Salt', cursive;
  color: #fff;
  visibility: hidden;
}

.box_2:hover .btn.btn-default#mywork_btn {
  visibility: visible;
}

.box_3 {
  height: 18vh;
  background-color: #A38679;
}

.title_box {
  height: 30vh;
  background-color: #5a4c46;
}

.name {
  font-family: 'Rock Salt', cursive;
  color: #d6d5da;
  text-align: left;
  border-bottom: 1px solid #d6d5da;
  padding-top: 28px;
  padding-bottom: 15px;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  color: #d6d5da;
  text-align: left;
  font-size: 20px;
}

.box_4 {
  height: 18vh;
  /*border: 1px solid #72745B;*/
  background-color: #72745B;
}
/*---------RIGHT COLUMN----------*/
.right_clmn {
  background-color: #72745b;
  height: 100vh;
}

.right_top_bar {
  height: 4vh;
}

.box_5 {
  height: 37vh;
  border-bottom: 1px solid #242226;
  background-image: url("../img/sarah_river.jpg");
  position: relative;
}

#about{
  background-color: rgba(163, 134, 121, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: none;
}

#about_btn {
position: relative;
top: 85%;
left: 30%;
}

.box_5:hover #about {
  display: block;
}

.btn.btn-default#about_btn {
  background-color: rgb(163, 134, 121);
  font-family: 'Rock Salt', cursive;
  color: #fff;
  visibility: hidden;
}

.box_5:hover .btn.btn-default#about_btn {
  visibility: visible;
}

.box_6 {
  height: 34vh;
  background-color: #242226;
}

.box_7 {
  height: 17vh;
  background-color: #5A4C46;
}

.box_8 {
  height: 17vh;
  background-color: #A38679;
}

.box_9 {
  height: 20vh;
  background-image: url(../img/contact_me.jpg);
  border-left: 1px solid #72745B;
}

#contact{
  background-color: rgba(90, 76, 70, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: none;
}

#contact_btn {
position: relative;
top: 70%;
left: 23%;
}

.box_9:hover #contact {
  display: block;
}

.btn.btn-default#contact_btn {
  background-color: rgb(90, 76, 70);
  font-family: 'Rock Salt', cursive;
  color: #fff;
  visibility: hidden;
}

.box_9:hover .btn.btn-default#contact_btn {
  visibility: visible;
}

.social_icons {
  text-align: right;
  color: #d6d5da;
  padding-right: 5px;
  font-size: 20px;
}

/*-----POPUPS-----*/
.popup {
  position: absolute;
  z-index: 2;
  top: 100%;
  margin: 5%;
  padding: 5px;
  text-align: center;
  visibility: hidden;
  border: 15px solid #A38679;
  background-color: #72745B;
  color: #242226;
}

.popup h2 {
  font-family: 'Rock Salt', cursive;
}

.popup p {
  font-family: 'Josefine', sans-serif;
}

.thumbnail img {
  max-height: 500px;
}

#close_work {
  text-align: center;
  background-color: #d6d5da;
  color: #242226;
  font-family: 'Rock Salt', cursive;
  text-decoration: none;
  border-radius: 2px;
  border-style: none;
  border-color: inherit;
  border-image: none;
}
